// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$bodyBackground: rgba(210,210,210,0.3)
$background: rgba(255,255,255,1)

$primary   : #4f6cdf
$secondary : #ebde34
$accent    : #9c3ed6

$dark      : #403e3e

$positive  : #38d9a6
$negative  : #820909
$info      : #2a9ab0
$warning   : #f77777
